body {
	font-family: Muli, sans-serif;
}

footer {
	font-style: italic;
}

label {
	color: #466596;
	font-weight: bold;
}

input[type="text"], input[type="text"]:focus {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	font-size: 110%;
	font-weight: bold;
	padding-left: .2em;
	color: #031b3f;
}

.form-elem {
	margin-bottom: 1em;
}

.explanation {
	font-size: 75%;
}

.print .explanations {
	display: none;
}

@media print {
	.explanation {
		display: none;
	}
}
